/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  height: 100%;
  padding: 0 140px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

@media (max-width: 376px) {
  .header {
    padding: 0px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.navbar a.logo {
  display: block;
  width: 218px;
}

.navbar a.logo img {
  width: 218px;
}

.navbar a.btn {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  background: #FF5D50;
  padding: 8px 32px;
  border-radius: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 376px) {
  .navbar a.logo {
    display: block;
    width: 130px;
  }
  .navbar a.logo img {
    width: 130px;
  }
  .navbar a.btn {
    padding: 8px 32px;
    border-radius: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.part1 h1 {
  font-size: 18px;
  color: #56C4C5;
  padding-bottom: 8px;
}

.part1 p.slogan {
  font-size: 48px;
  font-weight: bold;
  color: #221E1F;
  font-family: normal normal bold 48px/70px Noto Sans TC;
  padding-bottom: 16px;
}

.part1 p.subtitle {
  font-size: 20px;
  color: #221E1F;
  padding-bottom: 32px;
}

.part1 img {
  width: 532px;
}

@media (max-width: 376px) {
  .navbar {
    border-bottom: 1px solid #FFD153;
    margin-bottom: 32px;
  }
  .part1 {
    margin-bottom: 60px;
  }
  .part1 h1 {
    font-size: 16px;
  }
  .part1 p.slogan {
    font-size: 32px;
  }
  .part1 p.subtitle {
    font-size: 16px;
  }
  .part1 img {
    width: 304px;
  }
}

.part2 {
  max-width: 969px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.part2 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #221E1F;
  font-family: normal normal bold 32px/46px Noto Sans TC;
  text-align: center;
  padding-bottom: 48px;
}

.part2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.part2 li {
  width: 244px;
}

.part2 li img {
  width: 37.5%;
}

.part2 li h3 {
  display: block;
  font-size: 24px;
  color: #221E1F;
  padding: 24px 0;
}

.part2 li p {
  display: block;
  font-size: 12px;
  color: #747474;
  line-height: 1.5;
}

@media (max-width: 376px) {
  .part2 {
    margin-bottom: 60px;
  }
  .part2 h2 {
    font-size: 28px;
    padding-bottom: 32px;
  }
  .part2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 60px;
  }
  .part2 li {
    width: 100%;
    margin-bottom: 24px;
  }
  .part2 li img {
    width: 60px;
  }
  .part2 li h3 {
    font-size: 18px;
    color: #221E1F;
    padding: 24px 0;
  }
  .part2 li p {
    font-size: 16px;
    color: #747474;
    line-height: 1.5;
  }
}

.part3 {
  max-width: 1088px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.part3 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #221E1F;
  padding-bottom: 16px;
  text-align: center;
}

.part3 p {
  font-size: 20px;
  color: #221E1F;
  padding-bottom: 48px;
  text-align: center;
}

.part3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.part3 li {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-bottom: 24px;
}

.part3 li img {
  border-radius: 12px 12px 0px 0px;
  padding-bottom: 16px;
  width: 260px;
}

.part3 li h3 {
  font-size: 16px;
  font-weight: bold;
  color: #56C4C5;
  padding-bottom: 16px;
  text-align: center;
}

.part3 li p {
  font-size: 16px;
  color: #221E1F;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  line-height: 1.5;
}

@media (max-width: 376px) {
  .part3 {
    margin: 0 auto;
    padding-bottom: 36px;
  }
  .part3 h2 {
    font-size: 28px;
  }
  .part3 p {
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 32px;
  }
  .part3 li {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.part4 {
  max-width: 1088px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.part4 .functioncard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 58.3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.part4 .functioncard li {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  padding-left: 32px;
  padding-top: 32px;
  margin-right: 47px;
  margin-bottom: 28px;
}

.part4 .functioncard li .iconbg {
  height: 86px;
  width: 86px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part4 .functioncard li img {
  height: 52px;
}

.part4 .functioncard li h3 {
  font-size: 18px;
  color: #221E1F;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 16px;
}

.part4 .functioncard li p {
  font-size: 16px;
  color: #221E1F;
  text-align: left;
  line-height: 1.5;
  padding-bottom: 48px;
}

.part4 .functiontext h2 {
  font-size: 32px;
  font-weight: bold;
  color: #221E1F;
  line-height: 1.5;
  padding-bottom: 16px;
}

.part4 .functiontext p {
  font-size: 18px;
  color: #221E1F;
  line-height: 1.5;
  padding-bottom: 24px;
}

.part4 .functiontext a {
  text-decoration: none;
  color: #FFFFFF;
  background: #56C4C5;
  padding: 8px 32px;
  border-radius: 22px;
}

@media (max-width: 376px) {
  .part4 {
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .part4 .functiontext {
    text-align: center;
    margin-bottom: 32px;
  }
  .part4 .functiontext h2 {
    font-size: 28px;
  }
  .part4 .functiontext p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .part4 .functioncard {
    margin: 0 auto;
  }
  .part4 .functioncard li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 230px;
    margin: 0px 0px 24px 0px;
    margin-bottom: 24px;
  }
}

.part5 {
  max-width: 1128px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.part5 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #221E1F;
  text-align: center;
  padding-bottom: 104px;
}

.part5 .command {
  margin-right: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part5 .commandcard {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 48px 32px 16px 32px;
  position: relative;
  margin-bottom: 24px;
}

.part5 .commandcard .user {
  width: 80px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 50%;
  position: absolute;
  left: 32px;
  top: -56px;
}

.part5 .commandcard .commandword {
  font-size: 16px;
  color: #221E1F;
  text-align: left;
  line-height: 1.5;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}

.part5 .commandcard .job {
  font-size: 16px;
  color: #221E1F;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 8px;
}

.part5 .commandcard .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part5 .commandcard .who {
  font-size: 16px;
  color: #221E1F;
  padding-bottom: 8px;
}

.part5 .commandcard .star img {
  width: 17px;
}

.part5 .pgicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.part5 .pgicon .dot {
  width: 10px;
  height: 10px;
  background: #DDDDDD;
  border-radius: 50px;
  margin-right: 8px;
}

.part5 .pgicon .dotnow {
  width: 16px;
  height: 10px;
  background: #FFD153 0% 0% no-repeat padding-box;
  border-radius: 50px;
}

@media (max-width: 376px) {
  .part5 .commandcard2 {
    display: none;
  }
}

.part6 {
  padding-top: 260px;
  text-align: center;
  margin-bottom: 100px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
  background-repeat: no-repeat;
}

.part6 h2 {
  font-size: 32px;
  color: #221E1F;
  margin-bottom: 48px;
}

.part6 a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  background: #56C4C5;
  padding: 8px 32px;
  border-radius: 22px;
}

@media (max-width: 375px) {
  .part6 {
    padding-top: 293px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg");
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
  .part6 h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.footer {
  background: #F5F5F5;
  text-align: center;
  padding: 16px 0px;
}

.footer p {
  font-size: 16px;
  color: #221E1F;
}
/*# sourceMappingURL=all.css.map */